body {
margin: auto;
}
#one{
width: 250px;
height: 250px;
border-radius: 50%;
background-color: orange;
border: 25px solid red;
position: absolute;
top: 100;
}
.two{
  width: 150px;
  height: 150px;
  border-radius: 150%;
  border: 25px solid yellow;
  background-color: green;
  position: absolute;
  top: 150;
  left: 50;
}
.three{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 25px solid royalblue;
  background-color: rebeccapurple;
  position: absolute;
  top: 200;
  left: 100;
}
 